@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

:root{
    --clr-neutral-100: white;
    --clr-primary-500: #fe5a1d    ;
    --clr-neutral-900: black;
}

*,*::before,*::after{
    box-sizing: border-box;
}

*{
    list-style: none;
    outline: none;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
}


body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: "stack";
    padding-bottom: 2rem;
    height: 100vh;
}

body>*{
    grid-area: stack;
}

.paddingClass{
    padding-inline: 2rem;
}

input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{
    -moz-appearance: none;
    -webkit-appearance: none;
}


/* Mobile View First */

.navbar{
    display: flex;
    align-items: center;
    padding-block: 1.7rem;
    padding-inline: 2rem;
}

.burger{
    cursor: pointer;
}

.bar1, .bar2, .bar3{
    height: 0.2rem;
    width: 1.2rem;
    background-color: var(--clr-neutral-900);
    margin-bottom: 0.2rem;
    transition: all 1s ease;
}

.logo{
    margin-left: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.navLinksList{
    display: none;
}

.cartProfile{
    align-self: center;
    align-items: center;
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.cart{
    color: var(--clr-primary-500);
    position: relative;
}

.cartCount{
    opacity: 0;
    color: var(--clr-neutral-100);
    background-color: red;
    font-size: 0.5rem;
    /* border: 2px solid red; */
    position: absolute;
    left: 0;
    padding: 0.25rem 0.1rem;
    border-radius: 7px; 
    top: 0;   
}

.cartCount.showCartCount{
    opacity: 1;
}

.profileDdWrapper{
    display: none;
}


/*Contact Page*/


section{
    margin-top: 3rem;
    padding: 2rem;
}

.headerContact{
    font-size: 2rem;
    font-weight: 800;
    color: var(--clr-primary-500);
}

.contactWriteup{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    line-height: 1.5rem;
}

form{
    margin-top: 2rem;
    padding-inline: 2rem;
}

.fillForm{
    display: grid;
    gap: 2rem;
}

.formField{
    display: grid;
    grid-template-areas: "stack";
}

.formField>*{
    grid-area: stack;
}

input, textarea{
    border: 2px solid var(--clr-primary-500);
    border-radius: 2px;
    height: 2rem;
    z-index: 1;
    padding-left: 1rem;
    font-size: 16px;
}

input::placeholder, textarea::placeholder{
    color: transparent;
}

label{
    height: min-content;
    width: fit-content;
    margin-left: 1rem;
    margin-top: 0.25rem;
    font-weight: 200;
    pointer-events: none;
    z-index: 2;
    transition: 0.8s ease;
}

input:focus, textarea:focus{
    font-weight: 200;
    border-bottom: 2px solid black;
}


textarea:focus + label, input:focus + label,
textarea:not(:placeholder-shown) + label, input:not(:placeholder-shown) + label{
    transform: translateY(-0.85rem);
    font-size: 12px;
    color: var(--clr-primary-500);
    background-color: white;
}

.email, .pNumber, .zipcode{
    width: min-content;
}

.flexInput{
    display: flex ;
    width: 80%;
    gap: 0.7rem;
}

input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{
    -moz-appearance: none;
    -webkit-appearance: none;
}

.DOBField{
    display: grid;
    width: max-content;
    grid-template-areas: "stack";
}

.DOBField>*{
    grid-area: stack;
}

.day{
    width: 3rem;
    padding-left: 0.2rem;
    text-align: left;
}

.month{
    width: 4rem;
    padding-left: 0.2rem;
    text-align: left;
}


.year{
    width: 5rem;
    padding-left: 0.2rem;
    text-align: left;
}

.DOBField label{
    margin-left: 0.3rem;
}

.message{
    height: 10rem;
    text-align: left;
    align-content: unset;
    padding-top: 1rem;
}

input[type="submit"]{
    padding-inline: 1rem;
    width: min-content;
}

.footnote{
    text-align: center;
    margin-top: 1rem;
    color: var(--clr-primary-500);
    font-size: 12px;
    padding-inline: 1rem;
}
















.mobileNavMenu{
    margin-top: 5rem;
    background-color: white;
    height: min-content;
    padding-inline: 2rem;
    transform: translateX(-800px);
    transition: 1.5s ease;
}


.mobileNavLink{
    text-align: center;
    border-bottom: 0.5px solid var(--clr-primary-500);
    margin-block: 1rem;
    padding-bottom: 0.5rem;
    /* z-index: 4000; */
}

.mobileNavLink a{
    padding: 0.5rem;
}

.mobileNavLink a:hover{
    background-color: var(--clr-primary-500);
    transition: color 0.2s, background-color 1s ease;
    border-radius: 0.3rem;
    background-color: var(--clr-primary-500);
    color: var(--clr-neutral-100);
}



@media(min-width: 820px){
    
    body{
        padding-inline: 4rem;
    }

    .navbar{
        padding-inline: 0rem;
        height: 8rem;
    }

    .logo{
        margin-left: 0;
    }

    .burger{
        display: none;
    }

    .navLinksList{
        display: flex;
        margin-left: 4rem;
        color: gray;
    }

    .navLink a{
        padding: 0.4rem 1rem;
    }

    .navLink a:hover{
        transition: color 0.2s, background-color 1s ease;
        border-radius: 0.3rem;
        background-color: var(--clr-primary-500);
        color: var(--clr-neutral-100);
    }

    .profileNdDd{
        margin-top: 10.5rem;
        display: grid;
        margin-left: -4rem;
    }

    .profile{
        margin-left: 4rem;
    }

    .profileDdWrapper{
        opacity: 0;
        display: grid;
        text-align: center;
        font-size: 11px;
        font-weight: 400;
        background-color: var(--clr-primary-500);
        border-radius: 5px;
        width: 6.5rem;
        padding-block: 0.5rem;
        z-index: 2;
        clip-path: polygon(0 10%, 70% 10%, 75% 3%, 80% 10%, 100% 10%, 100% 10%, 0 10%);
        margin-top: -0.8rem;
        transition: all 0.5s ease;
    }
    
    .profileDdWrapper.showDropdown{
        opacity: 1;
        clip-path: polygon(0 10%, 70% 10%, 75% 3%, 80% 10%, 100% 10%, 100% 100%, 0 100%);
    }


    .profileDropdown{
        margin-top: 1rem;
    }

    .profileDdList{
        color: var(--clr-neutral-100);
        /* border-block: 1px solid var(--clr-neutral-900); */
        padding-block: 0.4rem;
        width: 80%;
        margin-inline: auto;
    }



    .profileDdList a{
        padding: 0.2rem 1rem;
    }

    .profileDdList:hover{
        color: var(--clr-neutral-900);
        background-color: var(--clr-neutral-100);
        transition: 0.5s ease;
    }

    .activePage{
        transition: color 0.2s, background-color 1s ease;
        border-radius: 0.3rem;
        background-color: var(--clr-primary-500);
        color: var(--clr-neutral-100);
    }

    .mobileNavMenu{
        display: none !important;
    }

    .sectionCont{
        display: grid;
        grid-template-columns: 40% 55%;
        gap: 5%;
    }

    section{
        padding-inline: 0;
    }

    .contactWriteup{
        text-align: left;
    }

    .formSection{
        margin-top: 4rem;
    }

    .formSection h3{
        text-align: center;
    }
 

}



/* Js Classes */

/*Click Burger*/

.bar1.cross{
    transform: rotate(45deg) translateY(9px) translateX(6px);
    transition: transform 1.5s ease;
}

.bar2.cross{
    background-color: var(--clr-primary-500);
    transform: translateX(56rem);
    opacity: 0;
    transition: transform 1.5s, opacity 4s ease;
}

.bar3.cross{
    transform: rotate(-45deg) translateY(-3px) translateX(0px);
    transition: transform 1.5s ease;
}


.mobileNavMenu.showMobileMenu{
    display: block;
    transform: translateX(0);
}
